<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="logo">Artists</h1>
  </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="large-4 small-6 columns">
      <h4><%= user.name_full %></h4>
      <p><% user.galleries.each do |gallery| %>
        <%= link_to gallery.title, gallery %></p>
        <% end %>
    </div>
  <% end %>
</div>

 
