<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="logo">Artists and their Galleries</h1>
  </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="large-4 small-6 columns">
      <h4 class="logo"><%= user.name_full %></h4>
      <% user.galleries.each do |gallery| %>
        <%= link_to gallery.title, gallery, class: 'chunky_link' %>
        <br>
        <% end %>
    </div>
  <% end %>
</div>

 
