<h1>Site#index</h1>

  <% if current_user %>
    You are logged is as <%= current_user.name_first %>
  <% end %>

<!-- Picture box -->
  <div class="row">
    <div class="large-10 columns">
      <ul id="featured1" data-orbit data-options="timer_speed:10000;">
        <li>
          <%= image_tag "bird.jpg" %>
          <div class="orbit-caption">
            Caption One. Insert bird joke here.
          </div>
        </li>
        <li>
          <%= image_tag "cow.jpg" %>
          <div class="orbit-caption">
            Caption Two. No Cow jokes.
          </div>
        </li>
        <li>
          <%= image_tag "river.jpg" %>
          <div class="orbit-caption">
            Caption Three. Calming quote here.
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-2 colums">
      <h3>

      </h3>
    </div>
  </div>

  <div class ="row">
    <div class ="small-4 columns">
      <article>
        <h3 class="subheading"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>

    <div class ="small-4 columns">
      <article>
        <h3 class="subheading"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>

    <div class ="small-4 columns">
      <article>
        <h3 class="subheading"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>
