<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="blkout">The Arthouse</h1>
  </div>
</div>


  
<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="small-2 columns">
      <%= image_tag gallery.images.sample.artwork.url(:thumb) if gallery.first_image %>
    </div>
  <% end %>
</div>



  <div class ="row">
    <div class ="small-4 columns">
      <article>
        <h3 class="logo"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>

    <div class ="small-4 columns">
      <article>
        <h3 class="logo"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>

    <div class ="small-4 columns">
      <article>
        <h3 class="logo"> Some artists details </h3>
        <p> Really inspirational stuff about some totally hip stuff here. Buy me beer. </p>
      </article>
    </div>


<!-- Picture box with backstetch-->
  <!-- <div class="row">
    <div class="large-10 large-centered columns">
      <ul id="featured1" data-orbit data-options="timer_speed:10000;">
        <li>
          <%= image_tag "bird.jpg" %>
          <div class="orbit-caption">
            Caption One. Insert bird joke here.
          </div>
        </li>
        <li>
          <%= image_tag "cow.jpg" %>
          <div class="orbit-caption">
            Caption Two. No Cow jokes.
          </div>
        </li>
        <li>
          <%= image_tag "river.jpg" %>
          <div class="orbit-caption">
            Caption Three. Calming quote here.
          </div>
        </li>
      </ul>
      
    </div>
  </div>
 -->