<h2>Edit a gallery</h2>

<div class="row">
  <div class="small-8 columns">
    <%= form_for @gallery, url: gallery_path(@gallery), html: { multipart: true, method: 'put' } do |f| %>
      <%= render partial: 'fields', locals: { f: f } %>
      <%= f.submit "Submit", class: 'button radius' %>
    <% end %>
  </div>
</div>
