// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chunky_link {
  color:rgb(76, 100, 67);
  font-family: 'League Gothic';
  font-style: normal;
  font-weight:normal;
  font-size: 2em;
}