// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'BlackoutMidnight';
    src: url('Blackout-Midnight-webfont.eot');
    src: url('Blackout-Midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blackout-Midnight-webfont.woff') format('woff'),
         url('Blackout-Midnight-webfont.ttf') format('truetype'),
         url('Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Blackout2AM';
    src: url('Blackout-2am-webfont.eot');
    src: url('Blackout-2am-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blackout-2am-webfont.woff') format('woff'),
         url('Blackout-2am-webfont.ttf') format('truetype'),
         url('Blackout-2am-webfont.svg#Blackout2AM') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.row { background: url('wavegrid.png') repeat repeat;

}

// Foundation login box reset.

div.row.collapse {
  background: none;
  background-color: black;

}

.blkout {
  font-family: 'Blackout2AM';
  font-size: 6em;
}

.logo {
  font-family: 'League Gothic';
  font-style: italic;
  font-weight:normal;
  font-size: 3em;
}



