// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invalid {
  border: 3px solid rgba(219, 0, 0, 0.9);
}

label.invalid {
  border: none;
  color: rgb(222, 40, 40);
}